@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700);

body {
    font-family: 'Quicksand', sans-serif;
    font-weight:400;
    padding-top: 84px;
}

.container {
	max-width: 1000px;
}
.zero {
	padding: 0;
}
.panel-lainnya > .panel-heading, input {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

.top {
  background-color: #5bc0de;
  /*background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);*/
}

/*top header*/
.top a {
	color: #fff;
	text-decoration: none;
}
.navbar {
	background-color: #fff;
}

/*menu bottom*/
.hotline {
	background-color: #f6f6f6;
	padding: 5px 7px;
}

.hotline a {
	color: #6d6969;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	padding: 0px 10px 0 0;
}
.hotline .lang {
	padding: 0px;
}
.btn-y {
	background-color: #d0d0d0;
}

/*menu toggle button*/
.navbar-header button {
	/*position: relative;
	top: 25px;*/
	border: none;
	border-radius: 35px;
	padding: 12px 11px;
	background-color: #5bc0de;
	color: #fff;
	z-index: 1;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
    width: 17px;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #5bc0de;
}

/*overlay*/
.carousel-inner .item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  z-index: 0.5;
}

@media screen and (max-width: 320px) {
	body {
    	font-family: 'Quicksand', sans-serif;
    	font-weight:400;
    	font-size: 12px;
	}
	.top-bottom-menu .container {
		padding: 0;
	}
    .top-bottom-menu a {
        font-size:15px;
    }
}

/*menu b*/
.menu-b {
	position: relative;
}
.panel-lainnya {
	border: 3px solid #5bc0de;
}
.panel-lainnya > .panel-heading {
    background-image: none;
    background-color: #5bc0de;
    color: white;
}
.panel-lainnya > .panel-footer {
    background-image: none;
    background-color: #5bc0de;
    color: white;
}
.col-centered{
    float: none;
    margin: 0 auto;
}

/*menu di bawah carousel*/
	.top-bottom-menu {
		background-color: #f6f6f6;
		padding: 0;
	}

	.top-bottom-menu a {
		color: #6d6969;
		font-size: 16px;
		font-weight: bold;
		text-decoration: none;
		/*padding: 0px 10px 0 0;*/
	}

	.top-bottom-menu ul:hover {
		color: #97d5e0;
	}

	.menu-atas ul {
        white-space: nowrap;
        overflow-x: auto;
    }

    .menu-atas li {
        display: inline-block;
        float: none;
    }

    /*horizontal scroll on card*/
	.kartu {
	    overflow-x: auto;
	    white-space: nowrap;
	    -webkit-overflow-scrolling: touch;
	}
	.kartu [class*="col"], /* TWBS v3 */
	.kartu [class*="span"] {  /* TWBS v2 */
	    display: inline-block;
	    float: none; /* Very important */
	}


/********************************/
/*          Main CSS     */
/********************************/


#first-slider .carousel-indicators {
  bottom: -10px;
}

#first-slider .carousel-control.right,
#first-slider .carousel-control.left {
  background-image: none;
}

#first-slider .carousel .item {
  min-height: 280px;
  height: 100%;
  width:100%;
}

#first-slider .carousel-control {
    width: 6%;
    text-shadow: none;
}

#first-slider .carousel-indicators li {
    width: 14px;
    height: 14px;
    background-color: rgba(255,255,255,.4);
  	border:none;
}
#first-slider .carousel-indicators .active{
    width: 16px;
    height: 16px;
    background-color: none;
  	border: 2px solid #5bc0de;
}

.carousel-control .fa-angle-right, .carousel-control .fa-angle-left {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
}
.carousel-control .fa-angle-left{
    left: 50%;
    width: 38px;
    height: 38px;
    margin-top: -15px;
    font-size: 30px;
    color: #fff;
    border: 3px solid #ffffff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 53px;
}
.carousel-control .fa-angle-right{
    right: 50%;
    width: 38px;
    height: 38px;
    margin-top: -15px;
    font-size: 30px;
    color: #fff;
    border: 3px solid #ffffff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 53px;
}
.carousel-control {
    opacity: 1;
    filter: alpha(opacity=100);
}


/********************************/
/*       Slides backgrounds     */
/********************************/
#first-slider .slide1 {
      background-size: cover;
    background-repeat: no-repeat;
}
#first-slider .slide2 {
      background-size: cover;
    background-repeat: no-repeat;
}
#first-slider .slide3 {
      background-size: cover;
    background-repeat: no-repeat;
}
#first-slider .slide4 {
      background-size: cover;
    background-repeat: no-repeat;
}

/*content on carousel*/
.carousel-inner img {
  width: 320px;
  /*box-shadow: 0 1px 3px 1px #333;*/
}
.tengah {
    display: flex;
    align-items: center;
    justify-content: center;
}
.size {
	height: 280px;
}
.c-title {
	color: #fff;
}
.padding {
	margin: 0;
	padding: 0;
}

@media screen and (max-width: 420px) {
    #first-slider .carousel .item {
	  min-height: 110px; 
	  height: 100%;
	  width:100%;
	}

	#first-slider .carousel-indicators li {
	    width: 10px;
	    height: 10px;
	}
	#first-slider .carousel-indicators .active{
	    width: 12px;
	    height: 12px;
	}

	.carousel-control .fa-angle-left{
	    left: 18%;
	    width: 28px;
	    height: 28px;
	    margin-top: -15px;
	    font-size: 30px;
	    font-weight: bold;
	    color: #fff;
	    border: none;
	    -webkit-border-radius: 3px;
	    -moz-border-radius: 3px;
	    border-radius: 3px;
	}
	.carousel-control .fa-angle-right{
	    right: 18%;
	    width: 28px;
	    height: 28px;
	    margin-top: -15px;
	    font-size: 30px;
	    font-weight: bold;
	    color: #fff;
	    border: none;
	    -webkit-border-radius: 3px;
	    -moz-border-radius: 3px;
	    border-radius: 3px;
	}
	/*carousel content*/
	.c-title {
		font-size: 10px;
	}
	.size {
		height: 125px;
	}
	.x {
		width: 80px;
		font-size: 10px;
	}

}

@media screen and (min-width: 421px) and (max-width: 720px) {
    #first-slider .carousel .item {
	  min-height: 150px; 
	  height: 100%;
	  width:100%;
	}

	#first-slider .carousel-indicators li {
	    width: 12px;
	    height: 12px;
	}
	#first-slider .carousel-indicators .active{
	    width: 13px;
	    height: 13px;
	}

	.carousel-control .fa-angle-left{
	    left: 18%;
	    width: 28px;
	    height: 28px;
	    margin-top: -15px;
	    font-size: 25px;
	    color: #fff;
	    border: 0.5px solid #ffffff;
	    -webkit-border-radius: 3px;
	    -moz-border-radius: 3px;
	    border-radius: 3px;
	}
	.carousel-control .fa-angle-right{
	    right: 18%;
	    width: 28px;
	    height: 28px;
	    margin-top: -15px;
	    font-size: 25px;
	    color: #fff;
	    border: 0.5px solid #ffffff;
	    -webkit-border-radius: 3px;
	    -moz-border-radius: 3px;
	    border-radius: 3px;
	}
	.zero {padding: 15px;}
}

/*card*/
.thumbnail {
	padding: 0;
	border-top: 5px solid #5bc0de;
	border-radius: 5px;
	min-height: 350px;
}
.c-body {
	padding: 15px;
}
* a {
	text-decoration: none!important;
}
.title strong {
	font-size: 15px;
}
.title i {
	color: rgb(255,149,0);
}
.btn-submit{
	background-color: rgb(0,122,255);
	color: #fff;
}

.blog-date {
  position: absolute;
  background: #5bc0de;
  top: 2px;
  left: 16px;
  color: #fff;
  padding: 5px 5px;
  font-weight: 700;
}
.gal-item{

  padding: 0!important;
}
.gal-item .box{
  height: 180px;
  max-height: 180px;
  overflow: hidden;
}
.box img{
  height: 100%;
  width: 100%;
  object-fit:cover;
  -o-object-fit:cover;
}
.btn-v small {
	padding-bottom: 0;
	margin-bottom: -5px;
}
.price {
	color: #ccc;
}
.btn-v {
	position: absolute;
	bottom: 25px;
}
.btn-v strong {
	font-size: 15px;
}

/*card for costume order*/

#costume-plan .thumbnail {
	padding: 0;
	border-top: 5px solid #5bc0de;
	border-radius: 5px;
	min-height: 230px;
}

.gal-item2 .box2 {
	height: 120px;
}
.box2 img {
  height: 90%;
  width: 100%;
  object-fit:cover;
  -o-object-fit:cover;
}
.blog-date2 {
  position: absolute;
  background: #5bc0de;
  top: 2px;
  left: 16px;
  color: #fff;
  padding: 2px 2px;
  font-weight: 400;
}

/*end costume order*/


/*navbar header*/
.navbar-header .navbar-left {
	position: relative;
	top: 7px;
	padding-left: 3px;
}
.bnr {
	padding: 25px;
}
.bnr img {
	position: absolute;
	right: 12px;
	top: 0;
}

/*packet card*/
.heading h3 {
	color: #6d6969;
	font-weight: bold;
	/*display: inline-block;
    border-bottom: 4px solid orange;*/
    padding: 0 0 7px 0;
}

.heading i {
	color: #926AA6;
}
.heading2 h5 {
	font-size: 17px;
	font-weight: bold;
	color: #6d6969;
}
.heading2 i {
	color: #5bc0de;
}
.title-c {
	font-size: 15px;
	font-weight: bold;
}
.bg {
	border: 1px dotted #dfdfdf;
	padding: 5px;
	margin-bottom: 2px;
}
.bg1 {
	border: 1px dotted #dfdfdf;
	padding: 5px;
	margin-bottom: 2px;
}
.bg2 {
	border: 1px dotted #dfdfdf;
	padding: 5px;
	margin-bottom: 2px;
}
#destination span {
	font-weight: bold;
	cursor: pointer;
	color: red;
}
#destination i {
	color: #5bc0de;
}
#hotels span {
	font-weight: bold;
	cursor: pointer;
	color: red;
}
#hotels i {
	color: rgb(88,86,214);
}
#cars i {
	color: rgb(255,45,85);
}
#cars span {
	font-weight: bold;
	cursor: pointer;
	color: red;
}

.bg{
  animation: animateElement linear .3s;
  animation-iteration-count: 1;
 }
 .bg1{
  animation: animateElement linear .3s;
  animation-iteration-count: 1;
 }
 .bg2{
  animation: animateElement linear .3s;
  animation-iteration-count: 1;
 }
 .k {
 	animation: color-me-in 1s;
 }

@keyframes animateElement{
  0% {
    opacity:0;
    transform:  translate(0px,10px);
  }
  100% {
    opacity:1;
    transform:  translate(0px,0px);
  }
}

@keyframes color-me-in {
  /* You could think of as "step 1" */
  0% {
    background: orange;
  }
  /* You could think of as "step 2" */
  50% {
    background: orange;
  }
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.s {
	margin-top: 40px;
}
.p-pad {
	margin: 10px 0 0 0;
	padding: 10px 0 5px 0;
}

/*our services*/
#our-services {
	padding-top: 35px;
	color: #6d6969;
}

/*tour package*/
#tour-package {
	padding-top: 7px;
	color: #6d6969;
}
/*tour package detail*/
.cov .panel-body {
	border-radius: 5px;
	padding: 10px 0 10px 0;
	border-top: 5px solid #5bc0de;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.panel-body img {
	max-height: 370px;
  	width: 100%;
  	object-fit:cover;
  	-o-object-fit:cover;
}
.d-title {
	font-size: 18px;
	color: #6d6969;
	font-weight: bold;
}

.nom {
    color: orange;
    font-weight: bold;
}

/*TABS*/
/* Tabs panel */
.tabbable-panel {
  border:1px solid #eee;
  padding: 10px;
}

/* Default mode */
.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}
.tabbable-line > .nav-tabs > li {
  margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
}
.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid #fbcdcf;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
  border-bottom: 4px solid #f3565d;
  position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}

/*MEDIA PHONE XS*/
@media screen and (max-width: 420px) {
	.thumbnail {
		min-height: 210px;
	}
	.gal-item .box{
	  height: 70px;
	  overflow: hidden;
	}
	.r-pad {
		padding: 2px 5px 2px 5px;
	}
	.zero {padding: 15px;}
	.c-body {
		padding: 5px;
	}
	.blog-date {
		padding: 5px 5px;
		font-size: 8px;
		top: 4px;
  		left: 6px;
	}
	.bnr {
		padding: 6px;
	}
	.d-title {
		padding-top: 15px;
	}
}

/*MEDIA SM*/
@media screen and (min-width: 421px) and (max-width: 720px) {
	.bnr {
		padding: 6px;
	}
}
@media screen and (min-width: 720px) {
	.bnr img {
		position: absolute;
		right: 135px;
		top: 0;
	}
	.d-title {
		padding-top: 15px;
	}
}